.about {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  h2 {
    letter-spacing: 0.5rem;
    font-size: 1.75rem;
  }
}
