.App {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
}

.Navbar {
  position: fixed;
  z-index: 20;
  background-color: transparent;
  width: 100%;
  height: 60px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  .left-side {
    flex: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    button {
      display: none;
      background-color: red;
      @media only screen and (max-width: 768px) {
        display: flex;
      }
    }

    .links {
      max-height: 60px;

      a {
        text-decoration: none;
        color: #000;
        font-family: 25px;
        margin-left: 15px;
        padding: 20px 10px;
        position: relative;
        @media only screen and (max-width: 768px) {
          display: none;
        }
        &:hover {
          color: #000;
          cursor: pointer;
        }
        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 2px;
          left: 50%;
          margin-top: 20px;
          background: #000;
          transform: scale(0, 1);
          transition: transform 0.3s ease;
        }
        &:hover::after {
          transform: scale(1, 1);
        }
      }
    }
  }
  .right-side {
    flex: 50%;
  }
}
