.section {
  display: flex;
  background-color: white;
  height: 100%;
  & img {
    width: 100vw;
    height: auto;
    background-size: cover;
    opacity: 60%;
  }
  h1 {
    color: black;
    font-size: 35px;

    top: 40%;
    right: 40%;
  }
}
.arrow--down {
  font-size: 45px;
  position: fixed;
  bottom: 0;
  right: 45%;
  opacity: 40%;
  &:hover {
    transform: scale(1.2);
    bottom: 10px;
    cursor: pointer;
    opacity: 80%;
  }
}
