.section {
  display: flex;
  background-color: rgb(226, 226, 226);
  height: 100%;
}
.arrow--down {
  font-size: 45px;
  position: fixed;
  bottom: 0;
  right: 45%;
  opacity: 40%;
  &:hover {
    transform: scale(1.2);
    bottom: 10px;
    cursor: pointer;
    opacity: 80%;
  }
}
