.navbar {
  width: 100%;
  height: 80px;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 999;
  &.active {
    z-index: 999;
    color: white;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 1),
      rgb(253, 253, 253, 1)
    );
  }
  @media only screen and (max-width: 768px) {
    flex-direction: row-reverse;
  }
  .right-side #hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    @media only screen and (max-width: 768px) {
      position: absolute;
      left: 0;
      top: 60px;
      height: 100vh;
      width: 100%;
      background-color: white;
      a {
        top: 15%;
      }
    }
  }

  .right-side {
    flex: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0em;

    .hamburger {
      display: none;
      width: 2rem;
      height: 2rem;
      top: 15px;
      right: 20px;
      display: none;
      margin-left: 20px;
      z-index: 20;

      @media only screen and (max-width: 768px) {
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
      }
      div {
        width: 2rem;
        height: 0.25rem;
        background-color: black;
      }
    }

    .links {
      display: flex;
      height: 60px;
      @media only screen and (max-width: 768px) {
        display: none;
      }
      a {
        text-decoration: none;
        color: #000;

        padding: 20px 10px;
        position: relative;
        &:hover {
          color: #000;
          cursor: pointer;
        }
        &::after {
          content: "";
          position: absolute;
          width: 50%;
          height: 1px;
          left: 20%;
          margin-top: 20px;
          background: #000;
          transform: scale(0, 1);
          transition: transform 0.3s ease;
        }
        &:hover::after {
          transform: scale(1, 1);
        }
      }
    }
  }
  .left-side {
    flex: 50%;
    line-height: 4;
    font-family: Cormorant Garamond;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    font-size: calc((2 - 1) * 1.2vw + 1rem);
    a {
      text-decoration: none;
      color: #000;
      margin-left: 15px;
      padding: 20px 10px;
    }
  }
}
