.photos {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  h2 {
    letter-spacing: 0.5rem;
    font-size: 1.75rem;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10% 10%;
    height: 100%;
    width: 60%;
    grid-template-areas:
      ". ."
      ". .";
    div {
      border: 1px solid black;
      text-align: center;
    }
  }
}
