.photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  margin: 0 10% 10% 10%;
  h2 {
    letter-spacing: 0.5rem;
    font-size: 1.75rem;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-auto-rows: min-content;
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    div {
      display: flex;
      flex-direction: column;
      text-align: center;
      &:hover {
        cursor: pointer;
        opacity: 60%;
      }
    }
  }
}
